
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 

video::-webkit-media-controls-panel {
     opacity: 0.5;
     z-index: 0;
     transition: visibility 100ms linear 0s, opacity 100ms;
}

.boxed {
  border-style:solid;
  border: 1px solid green ;
}

/* determines the relative position 
 * of text in lists (CWO) */
.listtext {
  position:relative;
  left: 8px;
}

.code {
  text-align: left;
  font-family: monospace;
  margin: 20px auto;
  width: 90%;
  padding: 15px;
  border-style:solid;
  background-color:rgba(128,128,128,.4);
}

/* Container holding the image and the text */
.container {
  position: relative;
  display: inline-block;
  text-align: left;
}

/* remove empty line (sometimes) below figure*/
.img {
    vertical-align:bottom;
}


/* Container holding only the image */
.container2 {
  position: relative;
  display: inline-block;
}


.arrowdiv {
  width: 100%;
  height: 100%;
}


/* Bottom center text */
/* Margin, padding and border get reset in main reveal.css stylesheet. Useless to specifiy here*/
.text-block {
  position: absolute;
}

/* Bottom center text */
.bottom-center {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -0%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 16px;
  left: 8px;
}

.below {
  position: relative;
  bottom: 5px;
}

.above {
  position: absolute;
  top: -20px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* top center text */
.top-center {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -0%);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 8px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reveal .slides section .fragment.highlight-col.visible {
  color: #1b91ff; }
.reveal .slides section .fragment.highlight-current-col.current-fragment {
  color: #1b91ff; }

html.something div.slide-background.present {
    filter: opacity(30%);
    background-position: right;
}
